:root{
    --mar-top-butom: 1.5rem;
    --padding: 1rem;
    --border-rad : 1.25rem;
    --bg-color: hsl(213, 19%, 18%);
    --text-color: hsl(217, 12%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--black);
    font-family: sans-serif;
    font-size: 0.9375rem;
    display: flex;
    justify-content: center;
}
main{
    margin: auto;
}
section{
    background-color: var(--bg-color);
    padding: 2rem;
    margin: auto;
    width: clamp(22.5rem, 100% - 40px, 25rem);
    border-radius: var(--border-rad);
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
h1{
    margin: var(--mar-top-butom) 0;
    color: var(--white);
}

p{
    line-height: 1.25rem;
}

#startIcon,#goBack{
    padding: var(--padding);
    background-color: hsla(25, 97%, 53%, 0.105);
    border-radius: 50%;
    width: fit-content;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    margin: var(--mar-top-butom) 0;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    z-index: 100;
}
label{
    cursor: pointer;
    background-color: hsla(217, 12%, 63%, 0.307);
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
input[type='radio']{
    display: none;
}

.container label:hover{
    background-color: hsl(25, 97%, 53%);
}
.container input[type='radio']:checked+label{
    background-color: white;
}
form button{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.75rem;
    text-transform: uppercase;
    border-radius: 1.5rem;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}
#thankYouStart{
    text-align: center;
}
#mainImg{
    margin: 0 0  var(--mar-top-butom) 0;
}
#greyBg{
    background-color: hsla(217, 12%, 63%, 0.307);
    color: hsl(25, 97%, 53%);
    font-weight: 600;
    padding: 0.625rem 1.3rem;
    width: fit-content;
    margin: auto;
    border-radius: var(--border-rad);
}
.error{
    color: red;
    text-align: center;
}
.attribution { font-size: 11px; text-align: center; margin: calc(var(--mar-top-butom) *0.5) 0;}
.attribution a { color: #fff; }

.onclickStyling{
    background-color: var(--white);
    color: var(--black);
}